.texto {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
}

#encabezado {
	background-color: rgb(13, 178, 233);
	padding: 28px;
}

.titulo {
	color: rgb(241, 18, 55);
	font-size: 24px;
}

#especial {
	color: red;
	font-weight: bold;
}
.contenedor {
	text-align: center;
	border: 1px solid #ccc;
	width: 100%;
}
.contenedor img {
	display: inline-block;
	max-width: 50%;
	height: auto;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 2);
}
.descripcion {
	margin-top: 10px;
	font-size: 1rem;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
